{% if active_tab != "ask" %}
    {% if not search_state %}  {#  get empty SearchState() if there's none #}
        {% set search_state=search_state|get_empty_search_state %}
    {% endif %}
    {% if offering_id %}
        <a
                id="askButton"
                class="button"
                href="{% url offering_question_ask offering_id=offering_id %}"
        >{% if group %}
            {{ settings.WORDS_ASK_THE_GROUP|escape }}
        {% else %}
            {{ settings.WORDS_ASK_YOUR_QUESTION|escape }}
        {% endif %}</a>
    {% endif %}
{% endif %}
